//-button mixin
mixin button(text)
    .button
        a(href="#") #{text}
            i(class=arrow)
//- card with image
mixin card-with-img(src,alt,text)
    .card-with-image
        figure
            img(src= src, alt= alt)
        h2=text
        i
//- card without img
mixin card-without-img(title,text)
    .card-without-image
        h1=title   
        p=text
        a(href="#") Read More 
            i(class=plus)
//- header menu
mixin header-menu
    each element in menu_items
        i(class=arrow)
        a(href="#")=element
//- img with id
mixin image-with-id(id,src,alt)
    figure(id=id)
        img(src=src, alt=alt)
//- img without id
mixin image-without-id(src,alt)
    figure
        img(src=src, alt=alt)