//-button mixin
mixin button(text,href)
    .button
        a(href=href) #{text}
            i(class=arrow)
//- card with image
mixin card-with-img(src,alt,text,id)
    .card-with-image(id=id)
        figure
            img(src= src, alt= alt)
        h2=text
//- card without img
mixin card-without-img(title,text)
    .card-without-image
        h1=title   
        p=text
        a(href="#") Read More 
            i(class=plus)
//- header menu
mixin header-menu
    each element in menu_items
        .element
            a(href="#")=element            
//- img with id
mixin image-with-id(id,src,alt)
    figure(id=id)
        img(src=src, alt=alt)
//- img without id
mixin image-without-id(src,alt)
    figure
        img(src=src, alt=alt)
//- modal 
mixin modal
    .modal-bg
        .modal
            h2 Get Innovo now!
            label(for="name") Name: 
            input(type="text" name="name" id="name")
            label(for="name") Email: 
            input(type="text" name="email" id="email")
            a.send send
            span.modal-close x
//-welcome label
mixin welcome-label
    #welcome-label
        p 